<form action="<%= url %>", method="post">
  <% if method == "update" %>
    <input type="hidden" name="_method" value="put">
  <% end %>

  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <label>
    Item title
    <input type="text" name="item[title]" value="<%= @item.title %>">
  </label>

  <label>
    Item description
    <textarea name="item[description]"><%= @item.description %></textarea>
  </label>

  <label>
    Item project
    <select name="item[project_id]">
      <% @projects.each do |project| %>
        <option value="<%= project.id %>"><%= project.title %></option>
      <% end %>
    </select>
  </label>

  <% if method == "update" %>
  <label>
    Item completed
    <input type="checkbox" name="item[completed]" value="true">
  </label>
  <% end %>

  <input type="submit" value="Create item!">

</form>