<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "All Projects", projects_url %>
  <%= link_to "Create New Project", new_project_url %>
  <%= link_to "All Teams", teams_url %>
  <%= link_to "Create New Team", new_team_url %>
  <br>

<%= yield %>

<% flash.now[:errors].try(:each) do |error| %>
  <%= error%>
<% end %>
</body>
</html>
